.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.search_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

input {
    height: 40px;
    border: 2px solid black;
    border-radius: 20px 10px 10px 0px;
    padding-left: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    transform: translateY(-10px);
    font-weight: bold;
    font-size: 15px;
}

.cards{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
    color: rgb(219, 202, 202);
  
}

.button{
    border: none;
    background-color: rgb(2, 2, 54);
    transform: translate(20px,-10px);
    padding: 5px;
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
    border-radius: 12px;
 
   width: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width:500px) {

    .search_content {
            gap: 15px;
           
    }
     h2{
           font-size: 20px;
           
    }

    input{
        width: 180px;
    }


    .button{
        width: 70px;
    }
    
}
